body{
    margin: 0;
    padding: 0;
    background-image: url('../../img/404bg.svg') ;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Đảm bảo chiều cao của .page chiếm toàn bộ chiều cao của trình duyệt */
}
.page .oops{
    font-size: 100px;
    color: white;
    text-align: center;
    margin-left: -450px;
}
.pageNotFound{
    font-size: 20px;
    text-align: center;
    margin-left: -500px;
    margin-top: -50px;
}
.thisPage{
    width: 400px;
    margin-left: -320px;
   margin-top: 10px;
}
.btn{
    margin-top: 10px;
    margin-left: -90px;
}