h1 {
    color: var(--orange)
}

.contentTitle{
    margin-left:0;
}

.contentTitle.productNumber{
    margin-top:0;
    margin-left: 2px;
}

p{
    margin-top:0;
}

.mainContent {
    width: 80vw;
    height: max-content;
    display: flex;
    position: relative;
    flex-direction: column;
    top: 20px;
    bottom: 20px;
    left: 170px;
    margin-bottom: 100px;
    overflow: visible;
}

.products {
    width: 65%;
    float: left;
}

table {
    width: 100%
}

tr {
    height: 140px;
    width: 100%
}

td {
    font-weight:500;
    width: auto;

}  

.picProduct{
    width: 30%;
    vertical-align: top;
}

.nameProduct {
    text-align: left;
    vertical-align:top;
}

.number-input {
    display: flex;
    align-items: center;
  }
  
.number-input input[type=number] {
    margin-top:0;
    border: none;
    width: 2rem;
    height: 2rem;
    text-align: center;
    border-radius: 5px;
}

.number-input input[type=number]:focus {
    outline: none;
}

input[type=number] {
    -moz-appearance: none;
}
  
input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.number-input button {
    width: 2rem;
    height: 2rem;
    border: 2px solid #000;
    border-radius: 50%;
    font-weight: bold;
    font-size:large;
}

.quantity {
    border: none;
    resize: none;
    width: 50px;
    text-align: center;
    border-radius: 5px;
}

.price {
    text-align:right;
    vertical-align:top;
}

.price img {
    width:1rem;
}

.remove {
    margin-top:1rem;
    color: red;
    font-weight: bold;
    cursor: pointer;
}

.picProduct img{
    max-width:80%;
    box-shadow: 2px 2px 4px #b6b6b6;
    border-radius: 10px;
}

.totalAmount {
    width: 35%;
    float: left;
    right: 0;
}

input[type="number"]{
    margin-top: 10px;
    padding: 5px;
    width: auto;
    height: auto;
}

.total {
    text-align:right;
    font-size: 1.3rem;
    margin-top: 0;
}

.buttonRow {
    display: flex;
    align-items: center;
    justify-content: right;
}

.btn.cancel, .btn.checkout {
    width: 30%;
    height: 3.5rem;
    font-size: 1.2rem;
}

.btn.checkOut {
    margin-left: 2rem;
    background-color: var(--orange);
    color: var(--white);
}