h1 {
  color: var(--orange);
  text-align: center;
}
a{
    text-decoration: none;
    color: var(--orange);
}
.wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../../img/registerBanner.svg);
    background-color: var(--grey);
    background-size: cover; 
    background-repeat: no-repeat;
    display: flex;
    justify-content: center; /* Horizontally center content */
    align-items: center; /* Vertically center content */
  }
  
  .formWrapper {
    background-color: var(--white);
    color: var(--black);
    width: 100%; /* Set the width to fill the parent (wrapper) */
    max-width: 1143px; /* Add a max-width if needed */
    display: flex;
    flex-direction: column; /* Stack the children vertically */
    align-items: center; /* Center horizontally within the formWrapper */
    padding: 20px; /* Add padding for spacing inside formWrapper */
  }
  
form.register {
  width: 100%; /* Set the form width to 100% of its parent's width */
  height: 100%; /* Set the form height to 100% of its parent's height */
}
.box {
  padding: 10px;
  border-radius: 15px;
  border: 1px solid var(--black);
}
.field {
  display: flex;
  justify-content: space-between;
}

.col {
  flex: 1;
  margin-right: 10px;
  margin-left: 60px;
  flex: 40%;
  margin-right: 10px; /* Adjust the margin as needed for spacing */
}

.input {
  margin-bottom: 10px;
}
input {
  width: 90%; /* Adjust the margin as needed for spacing */
}

.requiredFiled {
  color: red;
}
.selectPic {
  margin-left: 60px;
  width: 100%;
}
.input input[type="file"] {
  width: 89%; /* Make the input type="file" match the width of other input fields */
}
.registerSec{
    margin-left: 60px;
    margin-bottom: 50px;
}
.registerButton{
    padding: 10px;
    width: 96%;
    font-size: 16px;
}