/*Chưa biết tạo cái đường thẳng đứng để cách 2 cái left right orderContainer ở đâu*/

.orderContainerRow{
    display: flex;
    align-items: center;
}

/*CSS h1*/
.orderContainer h1 {
    margin-left: 10px;
    font-size: 50px; 
    font-weight: bold; 
}

/*CSS cho div bên trái*/
.left-orderContainer {
    flex: 1;
    padding: 10px;
}

.orderRow {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Để căn giữa dọc cho date và product-status */
    margin-bottom: 20px; /* Khoảng cách giữa orderRow và table */
}

.product-status {
    display: flex;
    align-items: center; /* Để căn giữa dọc cho icon và văn bản */
    color: #52b42f;
    font-weight: bold;
}

.product-status i {
    font-size: 10px;
    margin-right: 10px; /* Khoảng cách giữa icon và văn bản */
}

#shipDate {
    background-color: var(--orange);
    border: none;
    margin-left: 10px;
    padding: 10px;
    color: white;
    font-weight: bold;
    border-radius: 4px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

.right {
    text-align: right;
    font-weight: bold; /* Chú thích: thêm kiểu chữ đậm */
}

/*CSS cho div bên phải*/
.right-orderContainer {
    width: 40%;
    padding: 10px;
}
#billAddress {
    background-color: var(--orange);
    padding: 10px;
    color: white;
    font-weight: bold;
    border-radius: 4px;
}

#cancelOrder {
    background-color: white;
    box-shadow: 0 0 5px #ccc;
    padding: 10px 16px;
    color: var(--orange);
    font-weight: bold;
    border: none; /* Loại bỏ viền */
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s; /* Hiệu ứng chuyển động khi hover */

}

#cancelOrder:hover {
    background-color: var(--orange);
    color: white;
}

.addressInfo {
    display: flex;
    align-items: center; /* Để căn giữa dọc cho icon và văn bản */
}

.addressInfo i {
    font-size: 24px;
    margin-right: 25px; /* Khoảng cách giữa icon và văn bản */
}


/* CSS responsive */
@media screen and (min-width: 375px) and (max-width: 759px) {
    .orderContainerRow {
        flex-direction: column;
        align-items: stretch;
    }

    .right-orderContainer {
        order: 1;
        margin-top: 20px; /* Khoảng cách giữa left và right containers */
    }
    /* hmmmmmm hok bt chỉnh */
}


@media screen and (min-width: 760px) and (max-width: 1023px) {
    .orderContainerRow {
        flex-direction: column;
        align-items: stretch;
    }

    .right-orderContainer {
        order: 1;
        margin-top: 20px; /* Khoảng cách giữa left và right containers */
    }
}