
.titleAbout {
    font-weight: Bold;
    color: #0000008c;
    font-size: 70px;
    text-align: center;
    position: absolute;
    width: 394px;
    height: 61px;
    top: 200px;
    left: 157px;
    letter-spacing: 0;
    line-height: normal;
}
.aboutUs{
    position: relative;
}
.contentAbout {
    position: absolute;
    width: 500px;
    top: 266px;
    left: 157px;
    font-size: 17px;
    font-family:sora;
    color: #f1ab00;
    font-size: 26px;
    letter-spacing: 0;
    line-height: normal;
}
.masterchefPage{
    width: 394px;
    height: 4000px;
}

 .masterchef {
    position: absolute;
    width: 394px;
    height: 30px;
    top: 980px;
    left: 531px;
    font-family: "Sora-Bold";
    font-weight: 700;
    color: #0000008c;
    font-size: 40px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
}
.contentMasterchef {
    position: absolute;
    width:1000px;
    height: 30px;
    top: 1050px;
    left: 251px;
    font-family: Quicksand;
    color: #0000008c;
    font-size: 24px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;

}
.b {
    font-family: "Quicksand-Bold";
    font-weight: 700;
    margin-left:3%;
}
.selection{
   
    margin-top:4%;
    display:inline-flex;
}
.btnVisit{
    margin-left: 100px;
}

.titleOur {
    top: 1500px;
    left: 530px;
    width: 394px;
    height: 61px;
    position: absolute;
    font-family: "Sora-Bold";
    font-weight: 700;
    color: #0000008c;
    font-size: 50px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    
}
.contentOur {
    top: 1587px;
    left: 98px;
    font-family: Quicksand;
    color: #000000;
    font-size: 26px;
    letter-spacing: 0;
    position: absolute;
    text-align: center;
    width:1300px;
    height: 30px;
    line-height: normal;
}
.d {
    font-family: "Quicksand-Bold";
    font-weight: 700;
  
}
.btnService {
    top: 1587px;
    width:150px;
    margin-left: 30px;
    text-align: center;
    margin-left:170%;
    font-size: 24px;
   
}
.ourStoryPage{
    margin-top: 400px;
    font-family: "Quicksand-Bold";
}

.moreTitle{
    top: 1950px;
    left:890px;
    width: 394px;
    height: 61px;
    position: absolute;
    font-family: "Sora-Bold";
    color: #0000008c;
    font-size: 25px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
}

.moreContent{
    top: 2000px;
    left: 860px;
    font-family: Quicksand;
    color: #000000;
    font-size: 26px;
    letter-spacing: 0;
    position: absolute;
    text-align:center;
    width:500px;
    height: 30px;
    line-height: normal;
}

.btnLearnMore{
    width:150px;
    text-align: center;
    margin-left:260%;
    font-size: 26px;
    font-family: Quicksand;
    margin-top: 110%;
}
.ourTeam{
    top: 2400px;
    left: 530px;
    width: 394px;
    height: 61px;
    position: absolute;
    font-family: "Sora-Bold";
    font-weight: 700;
    color: #0000008c;
    font-size: 50px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
}
.member{
    margin-top: 35%;
    margin-left: -2.3%;
    margin-right: 5%;
    display:inline-flex;

}
.mem1{
    width:30%;
    margin-inline: 5%;
}
.mem2{
    width:30%;
    
}
.mem3{
    width:30%;
    margin-inline: 5%;
}
.name{
    display:inline-flex;
    font-size: 24px;
    font-family: "Quicksand-Bold";
    width:350%;
    text-align: justify; 
    margin-top: 10%;
  
}
.name1{
    width:35%;
    margin-inline: 15%;
    font-weight:Bold;
}
.name2{
    width:35%;
    font-weight:Bold;
}
.name3{
    width:35%;
    margin-inline: 3%;
    font-weight:Bold;
}
.standardTitle{
    top: 3380px;
    left: 530px;
    width: 394px;
    height: 61px;
    position: absolute;
    font-family: "Sora-Bold";
    font-weight: 700;
    color: #0000008c;
    font-size: 50px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
}
.standardContent{
    top: 3450px;
    left: 490px;
    font-family: "Quicksand-Regular";
    color: #000000;
    font-size: 26px;
    letter-spacing: 0;
    position: absolute;
    text-align:center;
    width:500px;
    height: 30px;
    line-height: normal;
}
.testimonialTitle{
    top: 3780px;
    left: 530px;
    width: 394px;
    height: 61px;
    position: absolute;
    font-family: "Sora-Bold";
    font-weight: 600;
    color: #0000008c;
    font-size: 50px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
}
.testimonialContent{
    top: 3950px;
    left: 200px;
    font-family: "Quicksand-Regular";
    font-size: 18px;
    color: #000000;
    letter-spacing: 0;
    position: absolute;
    text-align:justify;
    width:400px;
    height: 50px;
    line-height: normal;
}

.missonTitle{
    top: 4480px;
    left: 300px;
    width: 394px;
    height: 61px;
    position: absolute;
    font-family: "Sora-Bold";
    font-weight: 600;
    color: #0000008c;
    font-size: 40px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
}
.missonContent{
    top: 4550px;
    left: 200px;
    font-family: "Quicksand-Regular";
    font-size: 18px;
    color: #000000;
    letter-spacing: 0;
    position: absolute;
    text-align:justify;
    line-height: normal;
}
.pancake{
    top: 4550px;
    left: 200px;
}
.missonPage{
    width:600px;
    height:30px;
}