
.ProfileDetail {
    position: relative;
    font-size: 50px;
    color: #f1ac00;
    margin: 40px auto; /* Đảm bảo căn giữa theo chiều ngang */
    display: block;
    text-align: center;
}
  
  .adminProfileDetailChild {
    position: relative;
    overflow-y: auto;
    overflow-x: hidden;
    margin: 40px auto ;
    text-align: center;
    /* bottom: 100px; */
    border-radius: 15px;
    background-color: #ffffff;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border: 1px solid rgba(0, 0, 0, 0.41);
    box-sizing: border-box;
    width: 65vw;
    height: 80vh;
  }

  

  .adminProfileAvt { 
    width: 129px;
    height: 129px;
    margin-top: 30px;
    border-radius: 50%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
  }
  .name{
    font-weight: bold;
    margin: 3px auto;
  }
  .seller{
    margin: 3px auto;
  }
  .group-div,
  .update-profile {
    position: absolute;
    cursor: pointer;
  }
  .update-profile {
    text-align: center;
    font-weight: 600;
    
  }
  .group-div {
    height: 30px;
    width: 130px;
    font-size: 15px;
    top: 50%; /* Đưa nó lên giữa theo chiều dọc */
    left: 50%; /* Đưa nó về giữa theo chiều ngang */
    transform: translate(-50%, -50%); /* Căn giữa chính xác */
    margin: -25px auto;
  }
  .group-inner {
    height: 100%;
    width: 100%;
    margin: 20px auto;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--br-mini);
    background-color: var(--color-white);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border: 1px solid var(--color-black);
    box-sizing: border-box;
  }
  .boxWrap{
    display: flex;
    flex-direction: row; /* Hiển thị các phần tử con theo chiều ngang */
    gap: 1px; /* Khoảng cách giữa các phần tử con */
    align-items: center; /* Căn giữa theo chiều ngang */
    justify-content: center;
  }
  .group-child {
    position: absolute;
    border-radius: var(--br-mini);
    background-color: var(--color-white);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border: 1px solid var(--color-black);
    box-sizing: border-box;
    width: 375px;
    height: 155px;
  }
.boxProduct,
.boxTotalOrder {
  flex: 1;
  width: 320px;
  height: 159px;
  position: relative;
    display: flex;
    flex-direction: column;
    align-items: center; /* Căn giữa theo chiều ngang */
    justify-content: center; /* Căn giữa theo chiều dọc */
    margin-top: 70px;
}
.ProductAdded {
    position: absolute;
    top: 20px;
    left: 40px;
  }
  .ViewDetail {
    position: absolute;
    top: 95px;
    left: 217px;
    color: var(--color-goldenrod);
    cursor: pointer;
  }
  .TotalOrder {
    position: absolute;
    top: 20px;
    left: 40px;
  }
  .ViewDetail1 {
    position: absolute;
    top: 95px;
    left: 217px;
    color: var(--color-goldenrod);
    cursor: pointer;
  }
  .b {
    position: absolute;
    top: 10px;
    left: 265px;
    font-size: var(--font-size-31xl);
    
    
  }
  .b1 {
    position: absolute;
    top: 20px;
    left: 285px;
    font-size: var(--font-size-31xl);
  }


  
 
  