.btn{
    text-align: center;
}
h1 {
  color: var(--orange)
}
  
  section,
  .postEditor{
    width: 75xw;
    min-height: 100vh;
    padding: 4%;
    margin: 8% 5%;
    margin-bottom: 2%;
  }

  .postEditor .form-container form{
    width: 100%!important;
  }
  
  .postEditor input[type='submit']{
    font-size: 17px;
    width: 50%;
    text-align: center; 
    height: 4rem; 
    margin-top: .7rem;
    justify-content: center;
    text-transform: capitalize;
  }

  .flexBtn{
    display: flex;
    justify-content: center;
  }
  
  .flexBtn .btn{
    margin: .5rem;
    width: 50%;
    text-align: center;
    height: 3rem;
    margin-top: 0.7rem;
    
  }
  
  .flexBtn .btn {
    
    text-align: center;
    height: 3rem;
    margin-top: 0.7rem;
    text-transform: capitalize;
    display: flex;
    align-items: center;
    justify-content: center;
  }
 
  .formContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 4% 0;
    position: relative;
  }
  
  .formContainer .register{
    width: 60rem;
  }
  
  .form-Container form p{
    padding-top: 1rem;
    font-size: 1.2rem;
    text-transform: capitalize;
  }
  
  .formContainer form p span{
    color: red;
  }
  
  .formContainer form .box{
    background-color: var(--white);
    border: 1px solid var(--black);
    box-shadow: var(--box-shadow);
    width: 100%;
    border-radius: .5rem;
    margin: .5rem 0;
    font-size: 1.3rem;
    padding: 1rem;
  }
  
  .formContainer form textarea{
    height: 20rem;
    resize: none;
  }
  .formContainer .image{
    width: 100%;
    height: 30rem;
  }
  
  .mainContainer {
    background-color: #ffffff;
    padding: 20px; 
    margin-left: 18vw;
  }
  
  .sideBar {
    width: 18vw;
    height: 100vh;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    overflow: hidden;
    left: 0;
  }
  .inputField select[name="status"] {
    background-color: var(--white);
    border: 1px solid var(--black);
    box-shadow: var(--box-shadow);
    width: 100%;
    border-radius: 0.5rem;
    margin: 0.5rem 0;
    font-size: 1.3rem;
    padding: 1rem;
  }