/* .grid {
  position: relative;
} */

.hero {
  background-image: url(../../img/homehero.svg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  width: clamp(10rem, 100%, 100rem);
  height: clamp(10rem, 30rem, 70rem);
  z-index: 1;
  position: relative;
}

.heroT {
  top: 10rem; 
  height: 2rem;
  margin-bottom: 0;
  position: relative;
  width: clamp(10rem, 20rem, 100rem);
  height: clamp(2rem, 3rem, 5rem);
}
.heroP{
  top: 10rem; 
  width: clamp(10rem, 50rem, 100rem);
  height: clamp(2rem, 3rem, 5rem);
  position: relative;
  left: 0;
}