.orderContainer {
    background-image: url('../../img/Order.svg');
    background-size: cover;
    background-position: center;
    padding: 20px; 
    min-height: 100vh;  /* đảm bảo vùng chứa có ít nhất chiều cao bằng chiều cao của màn hình */
}
  
.orderContainer h1 {
    margin-left: 40px;
    font-size: 50px; 
    font-weight: bold; 
}
  
  
.noOrder-card {
    margin: 0 auto; 
    width: 580px;
    height: 143px;
    border: 1px solid #ccc;
    box-shadow: 0 0 5px #ccc;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.noOrder-description {
    font-size: 20px; 
    text-align: center; /* Căn giữa nội dung */
}