.banner{
    width: 100%;
    height: 80vh;
    background-image: url(../../img/Group\ 63.svg);
    background-position: center center;
    background-size: cover;
    display: flex;
    align-items: center;
}

.banner .detail{
    padding-left: 4%;
    color: #626262;
    line-height: 1.5;
}

.banner .detail p{
    font-size: 16px;
    margin-bottom: 1rem;
    color: var(--orange) ;
}

.banner .detail span{
    text-transform: uppercase;
    font-size: 1.1rem;
    margin-top: 1rem;
}

.banner .detail span a{
    color: var(--orange)
}

.banner .detail span i{
    margin: 0 1rem;
}

.products {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 50px;
    padding: 0 30px;
    height: 60vh;
    overflow-y: auto;
    position: sticky;
  }

  .btnContainer {
    display: flex;
    justify-content: space-between;
    background-color: transparent;
    cursor: pointer;
    height: 120px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .card {
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.2);
  }

  .productImg {
    width: 100%;
    height: 240px;
    object-fit: cover;
  }
  .cardTitle {
    margin-top: 16px;
    font-size: 20px !important;
    text-align: center;
  }

  .price {
    margin-top: 16px;
    font-size: 20px !important;
    text-align: center;
  }

  .description {
    margin-top: 16px;
    font-size: 20px;
    text-align: center;
  }

  .btn{
    width: 100px;
    font-size: 15px;
    text-align: center; /* Căn chữ giữa theo chiều ngang */
    line-height: 50px;

  }

.products .btnContainer .btn{
    font-size: 18px;
    height: 45px;
    margin-top: 1rem;
}


.products .btnContainer .bx-cart{
    background-image: url(../../img/shopping-cart.svg);
    background-size: contain; /* Đảm bảo hình ảnh nằm đúng trong kích thước của nút */
    background-repeat: no-repeat; /* Không lặp lại hình ảnh */
    background-position: center; /* Canh giữa hình ảnh */
    padding: 10px 20px; /* Điều chỉnh padding tùy thuộc vào kích thước mong muốn */
    text-indent: -9999px; /* Ẩn văn bản bằng cách đẩy nó ra khỏi phạm vi nhìn thấy */
    border: none; /* Xóa viền nút */
    cursor: pointer; 
    margin-bottom: 20px;
}

.products .btnContainer .bx-heart{
    background-image: url(../../img/heart.svg);
    background-size: contain; /* Đảm bảo hình ảnh nằm đúng trong kích thước của nút */
    background-repeat: no-repeat; /* Không lặp lại hình ảnh */
    background-position: center; /* Canh giữa hình ảnh */
    padding: 10px 20px; /* Điều chỉnh padding tùy thuộc vào kích thước mong muốn */
    text-indent: -9999px; /* Ẩn văn bản bằng cách đẩy nó ra khỏi phạm vi nhìn thấy */
    border: none; /* Xóa viền nút */
    cursor: pointer; 
    margin-bottom: 20px;
}

.products .btnContainer .bxs-show{
    background-image: url(../../img/eye.svg);
    background-size: contain; /* Đảm bảo hình ảnh nằm đúng trong kích thước của nút */
    background-repeat: no-repeat; /* Không lặp lại hình ảnh */
    background-position: center; /* Canh giữa hình ảnh */
    padding: 10px 20px; /* Điều chỉnh padding tùy thuộc vào kích thước mong muốn */
    text-indent: -9999px; /* Ẩn văn bản bằng cách đẩy nó ra khỏi phạm vi nhìn thấy */
    border: none; /* Xóa viền nút */
    cursor: pointer; 
    margin-bottom: 20px;
}
  
@media screen and (max-width: 768px) {
    .content-section {
      flex-direction: column;
    }
  }


  