@import url("https://fonts.googleapis.com/css2?family=Sora:wght@400;600;700&display=swap");
:root {
  --orange: #f9bd29;
  --lightOrange: #FCE09B;
  --white: #ffffff;
  --black: #000000;
  --grey: #DEDEDE;
  --box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.663);
}
* {
  text-decoration: none;
  list-style-type: none;
  list-style: none;
}
body {
  font-family: "Sora", sans-serif;
}
html {
  scroll-behavior: smooth;
}

.btn {
  background-color: var(--white);
  color: var(--orange);
  font-weight: bold;
  border: 1px solid var(--black);
  border-radius: 15px;
  padding: 8px 12px;
  box-shadow: var(--box-shadow);
  transition-duration: 0.4s;
  cursor: pointer;
  text-decoration: none;
}
.btn:hover {
  background-color: var(--orange);
  color: var(--white);
}
.container {
  background-color: var(--white);
  color: var(--orange);
  font-weight: bold;
  box-shadow: 2px 2px 4px #b6b6b6;
  border-radius: 15px;
  padding: 8px 12px;
}
/* ul li{
  color: var(--black);
} */