.dashBoard {
  background-color: #ffffff;
  padding: 20px;
  top:0;
  bottom: 0;
  margin-left: 25vw;
   height: 60vh;
   
   font-weight: bold;
 /* overflow-y: auto; */
  /* position: sticky; */
}
/* .dashboardContainer {
   margin-left: 10vw; 
  font-weight: bold;
} */

/* .sideBar {
  width: 18vw;
  height: 100vh;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  overflow: hidden;
  left: 0;
} */
.title {
  width: 392px;
  height: 68px;
  margin-top: 5rem;
  position: relative;
  display: flex;
  /* margin-left: 25vw; */
  margin-bottom: 15vh;
   font-family: "Sora-Bold", Helvetica;
  font-weight: 700;
  color: #f9bd29;
  font-size: 50px;
  text-align: left;
  letter-spacing: 0;
  line-height: normal;
}

.tb {
  border-collapse: collapse;
  width: 900px;
  top: 500px;
  display: flex;
  flex-direction: row;
 
}

.tb td {
  padding: 10px;
}

.form {
  width: 400px; /* Cái này là t tự chỉnh lại vì theo figma là to quá*/
  height: 150px;
  margin-bottom: 30px;
  background-color: #ffffff;
  border: 2px solid black;
  border-radius: 16px;
  padding: 10px;
  position: relative;
  display: flex;
}

.form p {
  margin: 0;
  position: absolute;
  left: 20px;
  top: 20px;
  color: black;
}

.form h3 {
  margin: 0;
  position: absolute;
  right: 20px;
  top: 20px;
  color: black;
}

.viewDetail {
  text-align: right;
  margin: 0;
  position: absolute;
  right: 20px;
  bottom: 20px;
  text-decoration: none;
}
.viewDetail a {
  color: #f9bd29;
}
@media screen and (max-width: 991px){
  .tb {
   flex-direction: column;
  }
  .dashBoard {
  margin-left: 0vw;
      height: 60vh;

  }
}