h1 {
    color: var(--orange)
}

.contentTitle{
    margin-left:0;
}

.mainContent {
    width: 55vw;
    height: max-content;
    display: flex;
    position: relative;
    flex-direction: column;
    top: 20px;
    bottom: 20px;
    left: 20vw;
    margin-bottom: 100px;
    overflow: visible;
}

.row {
    position: relative;
    margin: 0;
    width: 100%;
}

.billInfo {
    width: 45%;
}

.billInfo+.billInfo {
    margin-left: 8%;
}

input[type="text"],select {
    box-shadow: 2px 2px 4px #b6b6b6;
    width: 100%;
    height: 40px;
    font-size: 100%;
    border: solid black 1px;
    border-radius: 10px;
    text-align: left;
    margin-bottom: 10px;
    padding-left: 10px;
}

p.required-field{
    font-weight: bold;
}

p.required-field::after { 
    content: " *";
    color: red;
}

table {
    width: 100%
}

tr {
    height: 140px;
    width: 100%
}

td {
    font-weight:500;
    width: 30%
}  

.picProduct{
    vertical-align: top;
}

.nameProduct {
    text-align: left;
    vertical-align:top;
}

.price {
    padding-right:0;
    text-align:right;
    vertical-align:top;
}

.picProduct img{
    max-width:70%;
    box-shadow: 2px 2px 4px #b6b6b6;
    border-radius: 10px;
}

input[type="number"]{
    margin-top: 10px;
    padding: 5px;
    width: auto;
    height: auto;
}

hr {
    border: 0; 
    height: 1px; 
    background-color: #DCDCDC;
    margin: 5px 0;
}

.total {
    text-align:right;
    font-size: 1.3rem;
}

.row.button {
    align-items: center;
    justify-content: center
}

.btn.cancel,.btn.checkOut {
    padding: 1rem;
    width: 40%;
    min-height: max-content;
    font-size: 1.2rem;
}

.btn.checkOut {
    margin-left: 3rem;
    background-color: var(--orange);
    color: var(--white);
}

.btn.checkOut:hover {
    background-color: green;
}

.btn.cancel:hover {
    background-color: red;
}