h1 {
  color: var(--orange)
}


/* Định dạng cột phải */
.column-right {
  width: 80%; /* Độ rộng của cột phải */
  float: right; /* Đảm bảo cột phải nằm bên phải */
}

/* Xóa float và đảm bảo chiều cao của container chứa cột */
.container:after {
  content: "";
  display: table;
  clear: both;
}
.mainContent {
  width: 90%;
  display: flex;

  float: left;
  flex-direction: column;
  margin-top: 7%;
  margin-left: 10%;
 
}

.scrollContainer {
 
  height: 500px;
  overflow-y: auto;
}
.group{
  margin-left: 500px;
}

.user {
  border: solid black 1px;
  border-radius: 10px;
  width: 75%;
  max-height: 150px;
  display: flex;
  margin-bottom: 20px;
  margin-right: 50px;
  padding: 20px;
  box-shadow: 2px 2px 4px #b6b6b6;
}

.purpose{
  display: flex;
}




