* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: sora;
}

.heading {
  margin: 30px;
  font-size: 50px;
  font-family: sora;
  font-weight: bold;
  color: #f1ac00;
}

.container-view-product {
  padding-left: 20vw;
  padding-top: 85px;
}

.content-section {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 50px;
  padding: 0 30px;
}

.card {
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.2);
}

img {
  width: 100%;
  height: 240px;
  object-fit: cover;
}

.card-title {
  margin-top: 16px;
  font-size: 20px !important;
  text-align: center;
}

.btn-container {
  padding: 16px 8px;
  display: flex;
  justify-content: space-between;
}

.btn-viewProduct {
  border: none;
  font-size: 18px;
  color: #f1ac00;
  background-color: white;
  padding: 8px 16px;
  border-radius: 10px;
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.2);
}

.btn-viewProduct:hover {
  background-color: var(--orange);
  color: var(--white);
}

@media screen and (max-width: 768px) {
  .content-section {
    flex-direction: column;
  }
}
